{% extends 'myapp/base.html' %}
{% load staticfiles %}

{% block title %}{{ value }}{% endblock %}

{% block navbar %}

<div class="icon-bar">
  <a href="/"><i class="fa fa-home">Home</i></a> 
  <a class="active" href="/sponsor/"><i class="fa fa-handshake-o">Join Hands</i></a> 
  <a href="/contactus/"><i class="fa fa-envelope">Contact Us</i></a> 
  <a href="/gallery/"><i class="fa fa-picture-o">Gallery</i></a>
  <a href="/login/"><i class="fa fa-user-circle-o">Log In</i></a>  
  </div>
{%  endblock %}

{% block content %}
<ul>
   <li><a href="/reg_spo/">Register as a Sponsor</a></li>
    <li><a href="/pro_jects/">Projects</a></li>
    <li><a href="/rec_fund/">Record a Funding</a></li>
</ul>
<br>
{% if inserted %}
<center><p>Success!</p></center>
{% endif %}
<br>
<div class="container">
  <form class="form-inline" action="/add_funds/" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="email">Sponsor Id:</label>
      <input type="text" class="form-control" id="email" placeholder="sid" name="sid" required="">
    </div>
    <div class="form-group">
      <label for="pwd">Project Id:</label>
      <input type="text" class="form-control" id="pwd" placeholder="pid" name="pid" required="">
    </div>
    <div class="form-group">
      <label for="pwd">Transaction Id:</label>
      <input type="text" class="form-control" id="pwd" placeholder="tid" name="tid" required="">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

{% endblock %}