{% extends 'myapp/base.html' %}
{% load staticfiles %}

{% block title %}{{ value }}{% endblock %}

{% block navbar %}
<div class="icon-bar">
  <a href="/"><i class="fa fa-home">Home</i></a> 
  {% if user.is_authenticated %}
  <a class="active" href="/gallery/"><i class="fa fa-picture-o">Gallery</i></a>
  <a href="/database/"><i class="fa fa-database">Database</i></a>
  <a href="/forum/"><i class="fa fa-check-square-o">Forum</i></a>
  <a href="/logout/"><i class="fa fa-user-circle-o">Logout</i></a>
  {% else %}
  <a href="/sponsor/"><i class="fa fa-handshake-o">Join Hands</i></a> 
  <a href="/contactus/"><i class="fa fa-envelope">Contact Us</i></a> 
  <a class="active" href="/gallery/"><i class="fa fa-picture-o">Gallery</i></a>
  <a href="/login/"><i class="fa fa-user-circle-o">Login</i></a>  
  {% endif %}
  </div>
{%  endblock %}

  {% if user.is_authenticated %}
  	{% if user.is_superuser %}
  	{% block snavbar %}
	<div id="mySidenav" class="sidenav">
  		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  		<a href="/new_user/">Add a new user</a>
  		<a href="/new_ctm/">Add a core team member</a>
  		<a href="/help_portal/">Attend Querries</a>
      <a href="/quiz/">Add a quiz</a>
        <a href="/scores/">Update Scores</a>
	</div>
	{%  endblock %}
	{% endif %}
  {% endif %}


{% block content %}
{% if user.is_authenticated %}
{% if user.is_superuser %}
<div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>
{% endif %}
{% endif %}
<br>
<div class="row">
  <div class="column">
    <img src="{% static "images/20170219_161805.jpg" %}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{% static "images/20170219_153816.jpg" %}" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{% static "images/20170218_151724.002.jpg" %}" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{% static "images/IMG_5529.000.jpg" %}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>
</div>
<br>
<div class="row">
  <div class="column">
    <img src="{% static "images/IMG_5035.JPG" %}" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{% static "images/IMG_5472.JPG" %}" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{% static "images/DSC_0220.JPG" %}" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="{% static "images/DSC_0030.000.jpg" %}" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>
</div>
<br>
<div class="row">
  <div class="column">
    <video width="380" height="250" class="hover-shadow cursor" controls>
  <source src="{% static "images/DSC_0034.MOV" %}" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
  </div>
  <div class="column">
    <video width="380" height="250" class="hover-shadow cursor" controls>
  <source src="{% static "images/DSC_0015.MOV" %}" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
  </div>
  <div class="column">
    <video width="380" height="250" class="hover-shadow cursor" controls>
  <source src="{% static "images/DSC_0012.MOV" %}" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
  </div>
  <div class="column">
    <video width="380" height="250" class="hover-shadow cursor" controls>
  <source src="{% static "images/DSC_0085.MOV" %}" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="img_nature_wide.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="img_fjords_wide.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="img_mountains_wide.jpg" style="width:100%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="img_lights_wide.jpg" style="width:100%">
    </div>
    <div class="mySlides">
      <div class="numbertext">5 / 4</div>
      <img src="img_lights_wide.jpg" style="width:100%">
    </div>
  
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>


    <div class="column">
      <img class="demo cursor" src="img_nature_wide.jpg" style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_fjords_wide.jpg" style="width:100%" onclick="currentSlide(2)" alt="Trolltunga, Norway">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_mountains_wide.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_lights_wide.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
      div class="column">
      <img class="demo cursor" src="img_lights_wide.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
    </div>
  </div>
</div>

<script>
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

{% endblock %}