{% extends 'myapp/base.html' %}
{% load staticfiles %}

{% block title %}{{ value }}{% endblock %}

{% block navbar %}

<div class="icon-bar">
  <a href="/"><i class="fa fa-home">Home</i></a> 
  <a class="active" href="/sponsor/"><i class="fa fa-handshake-o">Join Hands</i></a> 
  <a href="/contactus/"><i class="fa fa-envelope">Contact Us</i></a> 
  <a href="/gallery/"><i class="fa fa-picture-o">Gallery</i></a>
  <a href="/login/"><i class="fa fa-user-circle-o">Log In</i></a>  
  </div>
{%  endblock %}

{% block content %}
<ul>
    <li><a href="/reg_spo/">Register as a Sponsor</a></li>
    <li><a href="/pro_jects/">Projects</a></li>
    <li><a href="/rec_fund/">Record a Funding</a></li>
</ul>
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Project Id</th>
      <th>Name</th>
      <th>Team Id</th>
      <th>Price</th>
      <th>Fund</th>
    </tr>
    {% for product in products %}
     <tr>
      <td><div id ="uid">{{ product.uid }}</div></td>
      <td><div id = "name">{{ product.name }}</div></td>
      <td>{{ product.team }}</td>
      <td><div id = "val">{{ product.price }}</div></td>
  	   <script src= "https://www.payumoney.com/Api/REST/op/buttonScript" async="true" > </script>
<script>function my_function(){
window.PUM.setData(document.getElementById("val").innerHTML, document.getElementById("uid").innerHTML,document.getElementById("name").innerHTML);
window.PUM.pay()}
</script>
      <td><span class='pm-button' id='C92C60A1963C36827CF147EA23851C36' onclick="my_function()">
  <span class="state active">
    <input type="image" src="https://file.payumoney.com/images/payby_payumoney/new_buttons/21.png" width="131" height="37">
  </span>
  <span class="state clicked" style="display:none" >
    <input type="image" src="https://file.payumoney.com/images/payby_payumoney/new_buttons/submitted/21.png" width="131" height="37">
  </span>
</span>
</td>

    </tr>
     {% endfor %}
  </table>


{% endblock %}