{% extends 'myapp/base.html' %}
{% load staticfiles %}

{% block title %}{{ value }}{% endblock %}

{% block navbar %}
<div class="icon-bar">
  <a href="/"><i class="fa fa-home">Home</i></a> 
  {% if user.is_authenticated %}
  <a href="/gallery/"><i class="fa fa-picture-o">Gallery</i></a>
  <a href="/database/"><i class="fa fa-database">Database</i></a>
  <a href="/forum/"><i class="fa fa-check-square-o">Forum</i></a>
  <a href="/logout/"><i class="fa fa-user-circle-o">Logout</i></a>
  {% else %}
  <a href="/sponsor/"><i class="fa fa-handshake-o">Join Hands</i></a> 
  <a href="/contactus/"><i class="fa fa-envelope">Contact Us</i></a> 
  <a href="/gallery/"><i class="fa fa-picture-o">Gallery</i></a>
  <a href="/login/"><i class="fa fa-user-circle-o">Login</i></a>  
  {% endif %}
  </div>
{%  endblock %}

  {% if user.is_authenticated %}
    {% if user.is_superuser %}
    {% block snavbar %}
  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/new_user/">Add a new user</a>
      <a href="/new_ctm/">Manage Users</a>
      <a href="/help_portal/">Attend Querries</a>
      <a href="/quiz/">Add a quiz</a>
        <a href="/scores/">Update Scores</a>
        <a href="/profunds/">Manage Projects and funds</a>
  </div>
  {%  endblock %}
  {% endif %}
  {% endif %}


{% block content %}
{% if user.is_authenticated %}
{% if user.is_superuser %}
<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <div class="container">
  <form class="form-inline" action="/add_quizs/" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="pwd">Marks:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Marks" name="marks" required="">
    </div>
    <div class="form-group">
      <label for="pwd">Date:</label>
      <input type="text" class="form-control" id="pwd" placeholder="YYYY-MM-DD" name="date" required="">
    </div>
    <div class="form-group">
      <label for="pwd">Comments:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Comments" name="cmmts" required="">
    </div>
    <button type="submit" class="btn btn-default">Add Quiz</button>
  </form>
</div>
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Quiz Id</th>
      <th>Max Marks</th>
      <th>Date</th>
      <th>Comments</th>
    </tr>
    {% for product in products %}
     <tr>
      <td>{{ product.quid }}</td>
      <td>{{ product.marks }}</td>
      <td>{{ product.date }}</td>
      <td>{{ product.cmnts }}</td>    
    </tr>
     {% endfor %}
  </table>
</div>
</div>
{% endif %}
{% else %}
<div id="main">
  <p>Please Login with the correct credentials to visit this page</p>
</div>
{% endif %}

{% endblock %}s